* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
}

h1 {
  color: pink;
  font-size: 4rem;
  font-family: sans-serif;
  text-align: center;
  line-height: 100vh;
}

span {
  opacity: 100;
  transition: all 3s ease;
  transform: translateY(50px);
  display: inline-block;
}

span.fade {
  opacity: 100;
  transform: translateY(0px);
  color: white;
}
